{% extends 'layout.html' %}

{% block content %}
    <div class="card my-5 mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img class="img-fluid rounded-start" src="http://placehold.it/400x600" alt="">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h1 class="card-title">{{ producto.nombre }}</h1>
              <p class="card-text"><b>Nombre: </b>{{ producto.nombre }}</p>
              <p class="card-text"><b>Precio: </b>{{ producto.precio }}</p>
              <p class="card-text"><b>Stock: </b>{{ producto.stock }}</p>
              <p class="card-text"><small class="text-muted">{{ producto.pub_date }}</small></p>
            </div>
          </div>
        </div>
      </div>
{% endblock content %}